$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);
$color-solitude:                    #e1e5ee;
$color-black-russian:               #1e1e20;
$color-mariner:                     #4464ad;
$color-light-cyan:                  #dbfcff;
$color-fringy-flower:               #a9e5bb;
$fz-default:                        16px;
$ff-playfair-display:               "PlayfairDisplay", "Arial", sans-serif;
$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

