.message {
  display: flex;
  justify-items: center;
  align-items: center;

  width: 267px;
  height: 140px;
}

.text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;
  text-align: center;
}
