@import '../../styles/variables';

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  & + & {
    margin-top: 8px;
  }
}
